<% unless @available_flights.nil? %>
  <% hero_height = "is-small" %>
<% else %>
  <% hero_height = "is-fullheight" %>
<% end %>


<section class="hero is-link <%= hero_height %>">
  <div class="hero-body">
    <div class="container">

      <p class="title">Choose your next destination </p>
      
      <div class="columns">
        <div class="column is-half">
          <%= render "search_form" %>
        </div>
      </div>

    </div>  
  </div>
</section>
<div class="container is-link">
</div>
<section class="section is-link">
  
</section>

<% unless @available_flights.nil? %>
  <% if @available_flights.any? %>
    <div class="columns">
      <h1 class="title column has-text-white is-4 is-offset-one-third">Available Flights for  <%= params[:departure_date].to_datetime.strftime("%d/%m/%Y") %>  </h1>
    </div>
    <%= render "available_flights_form" %>
  <% else %>
    <div class="columns">
      <p class="title column is-half is-offset-one-third has-text-white is-3">There are no available flights!</p>
    </div>
  <% end %>
<% end %>

   

